.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.day {
  display: flex;
}
.weekdays {
  display: flex;
}
.weekdays .name {
  flex: 1 1 0;
  text-align: center;
  font-weight: bold;
}
